= fa_link_to ebsdds_import_path, "Importer depuis Excel", "cloud-upload lg", class: "btn btn-primary btn-lg btn-block", title: "Importer un fichier Excel" if Attachment.all.any?
= fa_link_to reset_path, "Réinitialiser", "warning lg", class: "btn btn-danger btn-lg btn-block touletip", title: "Réinitialise l'état de la base pour les tests"
