%h1.underline
  Fichier
  = @attachment.attachment_file_name
  %span.small
    Nombre d'entrées dans le fichier:
    = @attachment.items

= render partial: "ebsdds/ebsdds"
.center-block
  = will_paginate @ebsdds, renderer: BootstrapPagination::Rails, previous_label: t("précédent"), next_label: t("suivant")

