.row
  .col-md-6
    .form-group
      = f.label :mode_transport, "Mode de transport"
      = f.select :mode_transport, [["Route", 1], ["Aérien", 2], ["Ferroviaire", 3], ["Fluvial", 4], ["Maritime", 5]], selected: 1
  .col-md-6
    .form-group
      = f.label :recepisse, "Recepissé"
      = f.text_field :recepisse, placeholder: "Numéro de recepissé"
