.form-group
  = f.label :dechet_conditionnement_ult, "Type de conditionnement"
  = f.select :dechet_conditionnement_ult, DechetContenant.to_select

.form-group
  = f.label :dechet_nombre_colis_ult, "Nombre de colis"
  = f.select :dechet_nombre_colis_ult, (1..30).map{|i| [i,i]}
