%h1.page-header
  = fa_icon "user"
  Nouveau #{ @company.class.name }
.row
  .col-md-12
    .panel.panel-default
      #new.panel-body
        = render 'form'
-#= link_to "Créer #{ @companies.klass.name.downcase }", new_polymorphic_path(@companies.klass.name.downcase)
