.row
  .col-md-12
    .form-group
      = f.label :bordereau_date_reception, "Date de réception à l'installation de destination :"
      = f.text_field :bordereau_date_reception, placeholder: "Date de réception à l'installation de destination", class: "datepicker", value: ebsdd.bordereau_date_reception || (Date.today + 1.day).strftime("%d-%m-%Y")

