// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.fa-ccc { color: #555; }
.center-vertical {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
