%h1 Listing destinataires

%table
  %tr
    %th
    %th
    %th

  - @destinataires.each do |destinataire|
    %tr
      %td= link_to 'Show', destinataire
      %td= link_to 'Edit', edit_destinataire_path(destinataire)
      %td= link_to 'Destroy', destinataire, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Destinataire', new_destinataire_path
