.row
  .col-md-12
    %label
      Dénomination usuelle du déchet :
    - if ebsdd.produit.nom.nil?
      Aucune
    - else
      = ebsdd.produit.nom
    %br

  .col-md-12
    %label
      Consistance :
    - if ebsdd.dechet_consistance == 0
      Solide
    - elsif ebsdd.dechet_consistance == 1
      Liquide
    - else
      Gazeux
