.row
  .col-md-12
    %b
      = fa_icon ( ebsdd.entreposage_provisoire ? "check-square" : "square-o" )
      Entreposage provisoire ou reconditionnement
    %br
    %b
      Numéro CAP :
    = ebsdd.num_cap
    %br
    %b
      Valorisation prévue :
    = ebsdd.valorisation_prevue
